@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-space min-w-[320px] text-[0.9375rem] md:text-[1rem] xl:text-[1.125rem] leading-[1.35];
    }

    .container {
        @apply !max-w-[23.4375rem] sm:!max-w-[35.9375rem] md:!max-w-[46.25rem] lg:!max-w-[61.875rem] xl:!max-w-[73.125rem] 2xl:!max-w-[1280px] px-4 mx-auto;
    }

    img {
        @apply max-w-full h-auto w-full;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-medium leading-[1.2];
    }

    h1 {
        @apply text-[1.875rem] md:text-[2.25rem] lg:text-[2.5rem] xl:text-5xl 2xl:text-6xl;
    }

    h2 {
        @apply text-[1.5rem] sm:text-[1.75rem] lg:text-[2.125rem] xl:text-[2.5rem];
    }

    h3 {
        @apply text-[1.875rem];
    }

    a {
        @apply transition-all duration-200 ease-in-out;
    }
}

@layer components {

    /* Buttons */
    .btn {
        @apply bg-white text-[0.9375rem] lg:text-[1.0625rem] xl:text-xl min-w-[13.125rem] xl:min-w-60 py-4 px-5 text-center inline-flex justify-center items-center border border-black rounded-xl transition-all hover:bg-primary hover:text-black;
    }

    .btn-primary {
        @apply bg-secondary text-white;
    }

    /* Flex */
    .row {
        @apply flex flex-wrap -mx-4;
    }

    .col {
        @apply px-4;
    }

    /*header */
    .sticky-header {
        @apply shadow-lg;
    }

    /* Navigation */

    @media (max-width: 991px) {
        .site-header__nav {
        @apply fixed left-0 w-[17.5rem] top-0 bottom-0 bg-black text-white [&_ul]:mt-20 [&_a]:block [&_a]:py-3 [&_a]:px-4 hidden;
    }
    }

    /* Slick Slider */
    .slick-slider {
        @apply px-10 relative;
    }

    .slick-track {
        @apply flex items-center;
    }

    .slick-slide {
        @apply flex-shrink-0 border border-black rounded-xl overflow-hidden p-4 mx-3;
    }

    .slick-prev,
    .slick-next {
        @apply absolute top-1/2 -translate-y-1/2 z-10 w-10 h-10 bg-white text-black rounded-full flex items-center justify-center text-[0];
    }

    .slick-arrow::before {
        @apply content-[''] border-black border-t-2 border-r-2 w-4 h-4 rotate-45;
    }

    .slick-arrow::after {
        @apply content-[''] border-black border-t-2 w-5 absolute left-2.5;
    }

    .slick-prev {
        @apply left-0 rotate-180 -translate-y-[50%];
    }

    .slick-next {
        @apply right-0;
    }

    .slick-dots {
        @apply text-center text-[0] mt-16 [&_li]:inline-block [&_li]:mx-1.5 [&_.slick-active_button]:border-b-primary [&_.slick-active_button]:before:border-b-primary [&_.slick-active_button]:after:border-b-primary;
    }

    .slick-dots button {
        @apply relative mx-auto w-0 h-0 border-x-[0.625rem] border-x-transparent border-b-[7px] border-b-white rotate-[35deg] before:content-[''] before:absolute before:top-[-4.5px] before:left-[-6.5px] before:w-0 before:h-0 before:border-x-[3px] before:border-x-transparent before:border-b-[8px] before:border-b-white before:rotate-[-35deg] after:content-[''] after:absolute after:top-[0.3px] after:left-[-10.5px] after:w-0 after:h-0 after:border-x-[10px] after:border-x-transparent after:border-b-[7px] after:border-b-white after:rotate-[-70deg];
    }

    /* Headings */
    .inline-heading {
        @apply max-sm:text-center sm:flex sm:items-center max-sm:[&_h2]:mb-3 [&_h2]:inline-block [&_h2]:bg-primary [&_h2]:p-1.5 [&_h2]:rounded-lg [&_h2]:leading-[1] [&_h2]:mr-7 lg:[&_h2]:mr-10 mb-8 lg:mb-11 max-sm:[&_br]:hidden;
    }

    /* Cards */

    /* Card CTA */
    .card-cta {
        @apply bg-tertiary border border-black rounded-[1.875rem] xl:rounded-[2.375rem] 2xl:rounded-[2.8125rem] h-full p-6 lg:p-8 xl:p-10 shadow-[0_5px_0_0_#191A23] [&_h3]:mb-4 [&_h3]:text-[1.3125rem] lg:[&_h3]:text-[1.5rem] xl:[&_h3]:text-[1.875rem] [&_h3_span]:inline-block [&_h3_span]:bg-primary [&_h3_span]:p-1 [&_h3_span]:rounded-lg transition-all [&_h3_span]:transition-all hover:bg-primary [&:hover_h3_span]:bg-white;
    }

    .card-cta__content {
        @apply flex flex-col h-full pr-4;
    }

    .card-cta a {
        @apply inline-flex items-center mt-auto [&_svg]:bg-black [&_svg]:text-primary [&_svg]:rounded-full [&_svg]:p-2 [&_svg]:w-8 2xl:[&_svg]:w-10 [&_svg]:h-8 2xl:[&_svg]:h-10 [&_svg]:mr-2;
    }

    /* Card Team */
    .card-team {
        @apply border border-black rounded-[1.875rem] xl:rounded-[2.8125rem] overflow-hidden relative shadow-[0_5px_0_0_#191A23] py-8 xl:py-10 px-7 xl:px-9 h-full;
    }

    .card-team__top {
        @apply flex items-end [&_h3]:text-[1.25rem] relative [&_a]:absolute [&_a]:right-0 [&_a]:top-0 [&_a]:text-primary [&_a]:text-[1.125rem] [&_a]:bg-black [&_a]:p-2 [&_a]:rounded-full [&_a]:transition-all;
    }

    .card-team__image {
        @apply mr-5 [&_img]:max-w-[6.625rem] [&_img]:max-h-[6.625rem];
    }

    .card-team__info {
        @apply pr-9;
    }

    .card-team__content {
        @apply pt-7 mt-7 border-t border-black;
    }

    /* Card Testimonial */

    .card-testimonial__top:after,
    .card-testimonial__top:before {
        @apply content-[''] absolute bg-primary w-6 lg:w-8 h-6 lg:h-8 rotate-45 top-full -mt-3 lg:-mt-4;
    }

    .card-testimonial__top {
        @apply border border-primary rounded-[2.25rem] lg:rounded-[2.8125rem] text-white p-8 lg:p-11 relative bg-black before:bg-black before:border-0 before:-mt-[0.8625rem] lg:before:-mt-[1.0625rem] before:z-10 mb-10;
    }

    .card-testimonial__bottom {
        @apply text-white ml-[2.75rem] lg:ml-[3.75rem] [&_h5]:text-primary;
    }

    /* Accordion */
    .accordion {
        counter-reset: list-counter;
    }

    .accordion-count {
        counter-increment: list-counter;
        @apply text-[2.375rem] lg:text-[2.625rem] xl:text-[3rem] 2xl:text-[3.75rem] text-black font-medium mr-4;
    }

    .accordion-count:before {
        content: counter(list-counter, decimal-leading-zero);
    }

    .accordion-item {
        @apply border border-black rounded-[1.875rem] xl:rounded-[45px] overflow-hidden relative shadow-[0_5px_0_0_#191A23] mb-7 py-6 xl:py-10 px-8 xl:px-12 2xl:px-14;
    }

    .accordion-item.active {
        @apply bg-primary [&_.accordion-icon]:after:rotate-0 [&_.accordion-content]:block;
    }

    .accordion-content {
        @apply pt-5 lg:pt-7 border-t border-black hidden;
    }

    .accordion-header {
        @apply text-[1.5rem] xl:text-[1.875rem] text-black font-medium flex items-center w-full mb-2 pr-20 after:content-[''] after:inset-0 after:absolute after:z-10;
    }

    .accordion-icon {
        @apply w-8 lg:w-10 xl:w-12 2xl:w-14 h-8 lg:h-10 xl:h-12 2xl:h-14 absolute right-8 xl:right-14 top-8 xl:top-[3.25rem] border border-black rounded-full;
    }

    .accordion-icon:before,
    .accordion-icon:after {
        @apply content-[''] w-3 lg:w-4 border-t-[0.1875rem] xl:border-t-4 border-black absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transition-all;
    }

    .accordion-icon:after {
        @apply rotate-90;
    }

    /* Contact Form */

    .contact-form .form-group {
        @apply mb-4 [&_label]:block [&_label]:mb-2;
    }

    .contact-form .form-group input,
    .contact-form .form-group textarea {
        @apply w-full h-[3.125rem] lg:h-[3.6875rem] rounded-[0.875rem] border border-black py-3 px-5 lg:px-7;
    }

    .contact-form .form-group textarea {
        @apply min-h-[8rem] lg:min-h-[11.875rem] resize-none;
    }

    .contact-form .form-radio {
        @apply mb-8 [&_li]:inline-block [&_li]:mr-6;
    }

    /* Hide native radio */
    .contact-form input[type="radio"]:checked,
    .contact-form input[type="radio"]:not(:checked) {
        @apply absolute -left-[9999px];
    }

    /* Label styling */
    .contact-form input[type="radio"]:checked+label,
    .contact-form input[type="radio"]:not(:checked)+label {
        @apply relative pl-[2.5rem] cursor-pointer leading-5 inline-block text-gray-600;
    }

    /* Outer circle */
    .contact-form input[type="radio"]:checked+label::before,
    .contact-form input[type="radio"]:not(:checked)+label::before {
        content: '';
        @apply absolute left-0 -top-[0.125rem] w-[1.75rem] h-[1.75rem] border border-black rounded-full;
    }

    /* Inner dot base style */
    .contact-form input[type="radio"]:checked+label::after,
    .contact-form input[type="radio"]:not(:checked)+label::after {
        content: '';
        @apply w-4 h-4 bg-primary absolute top-1 left-1.5 rounded-full transition-all duration-200 ease-in-out;
    }

    /* Hidden dot when not checked */
    .contact-form input[type="radio"]:not(:checked)+label::after {
        @apply opacity-0 scale-0;
    }

    /* Visible dot when checked */
    .contact-form input[type="radio"]:checked+label::after {
        @apply opacity-100 scale-100;
    }
}